.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.container button{
    background-color: blueviolet;
    color: #FFF;
    font-weight: bold;
    position: fixed;
    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s;
}

.container button:hover{
    box-shadow: 0px 0px 8px 2px rgb(53, 15, 88);
    transform: scale(1.1);
}